*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 10s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.heading{   
    display: flex;   
    width: 100%;  
    justify-content: center;   
    margin-top: 5px;
    font-size: 25px;  
    
}
.title{
    width: 800px;
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
    justify-content: center; 
    align-items: center;
    
}
.title h1{
    margin: 10px 0;
    color: white;
}
.dropdown{
    /* display: grid;   
    grid-template-columns: 1fr 1fr; */
    width: 100%;  
    /* border: 1px solid black; */
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;     
    
}
.form1 { 
    margin-right: 10px;
    
}
.form2{      
    margin-left: 10px;     
}
    
.dropdown ul{        
    width: 300px;
    background: transparent;  
    border: 1px solid white;
}

.dropdown label{
    font-size: 25px;
    color: white; 
   
}
.dropdown #languages, .str{
    width: 300px;
    font-size: 25px;
    padding: 10px;
    margin-top: 5px; 
    border-radius: 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
}
.dropdown select option{
       color: black;

}
.select{
    width: 100px;
    font-size: 22px;
    margin-left: 20px;
    padding: 14px;    
    border-radius: 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    background: #21d4fd;
    background-image: linear-gradient(19deg, #b721ff 0%, #21d4fd 100%);
    
}
input:focus, select:focus{
    outline: none;
}

.select:hover{  
    font-weight: bold;
    border: 1px solid white;
}

.pass{
    display: flex;
    justify-content: center ;
    margin-top: 30px;
}
#data-table{
    color: white;
    font-size: 40px;
}
.dice{    
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.roll{
    transform: translateY(-30px);
    transition: all 0.5 ease-in-out;
    display: block;
    animation: roll 0.5;
}

body {
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 400px;
}

#cube {
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  perspective-origin: center center;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.facet {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: rgba(20, 20, 20, 0.9);
  border: 1px solid grey;
}

.dot {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  user-select: none;
}

.front {
  transform: translateZ(50px);
}
.front .dot:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  margin: auto 0 0 auto;
}
.front .dot:nth-child(2) {
  grid-column: 3;
  grid-row: 3;
}

.back {
  transform: rotateY(180deg) translateZ(50px);
}
.back .dot:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  margin: auto 0 0 auto;
}
.back .dot:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
  margin: auto auto 0 0;
}
.back .dot:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
  margin: 0 0 auto auto;
}
.back .dot:nth-child(4) {
  grid-column: 3;
  grid-row: 3;
  margin: 0 auto auto 0;
}
.back .dot:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}
.right .dot:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  margin: auto 0 0 auto;
}
.right .dot:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
  margin: auto auto 0 0;
}
.right .dot:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
  margin: 0 0 auto auto;
}
.right .dot:nth-child(4) {
  grid-column: 3;
  grid-row: 3;
  margin: 0 auto auto 0;
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.left .dot:nth-child(1) {
  grid-column: 3;
  grid-row: 1;
  margin: auto auto 0 0;
}
.left .dot:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
  margin: auto;
}
.left .dot:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
  margin: 0 0 auto auto;
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}
.top .dot {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
.bottom .dot:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  margin: auto 0 0 auto;
}
.bottom .dot:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
  margin: auto auto 0 0;
}
.bottom .dot:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
  margin: 0 0 auto auto;
}
.bottom .dot:nth-child(4) {
  grid-column: 3;
  grid-row: 3;
  margin: 0 auto auto 0;
}
.bottom .dot:nth-child(5) {
  grid-column: 1;
  grid-row: 2;
  margin: auto 0 auto auto;
}
.bottom .dot:nth-child(6) {
  grid-column: 3;
  grid-row: 2;
  margin: auto 0;
}

@keyframes cubeRotate {
  from {
    transform: rotateY(0) rotateX(720deg) rotateZ(0);
  }
  to {
    transform: rotateY(360deg) rotateX(0) rotateZ(360deg);
  }
}

